<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fyp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYP"
        tools:targetApi="31">
        <activity
            android:name=".Splash"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UserFolder.ForgotPassword"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- <activity -->
        <!-- android:name=".SubjectsFolder.SubjectsActivity" -->
        <!-- android:exported="false"> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.lib_name" -->
        <!-- android:value="" /> -->
        <!-- </activity> -->
        <activity
            android:name=".NavDrawer.NavDrawerActivity"
            android:exported="true"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.FYP.NoActionBar" />
        <activity
            android:name=".UserFolder.LoginPage"
            android:exported="false"
            android:theme="@style/Theme.FYP.NoActionBar" />
        <activity
            android:name=".UserFolder.RegistrationPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Calendar.EventActivity"
            android:parentActivityName=".UI.Calendar.WeekActivity"/>
        <activity android:name=".UI.Calendar.WeekActivity"
            android:parentActivityName=".UI.Calendar.CalActivity"/>
        <activity
            android:name=".UI.Calendar.CalActivity"
            android:exported="true"
            android:parentActivityName=".NavDrawer.NavDrawerActivity"/>
        <activity android:name=".UI.GoogleBooks.BookExpanded"></activity>
        <activity android:name=".UI.UserProfile.BookSavedExpanded"></activity>
    </application>

</manifest>